In [23]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import xmltodict


in_file = "/home/mike-rob/Development/Analytic_Dev/data/detail.xml"")

with open(in_file, "r", encoding="utf-8") as file:
    xmldata = file.read()

xml_dict = xmltodict.parse(xmldata)

In [ ]:
aggs_df = pd.json_normalize(xml_dict['ElectionResult'])
aggs_df.drop(columns=['Contest', 'VoterTurnout.Precincts.Precinct'])

,Timestamp,ElectionName,ElectionDate,Region,VoterTurnout.@totalVoters,VoterTurnout.@ballotsCast,VoterTurnout.@voterTurnout
0,3/12/2025 8:55:00 AM CDT,2025 Primary Consolidated,2/25/2025,DuPage,112760,7749,6.87

In [41]:
df = pd.json_normalize(xml_dict['ElectionResult']['VoterTurnout']['Precincts']['Precinct'])
df.head()

              @name @totalVoters @ballotsCast @voterTurnout @percentReporting
0  Lisle 001 - 0029         1125           43          3.82                 4
1  Lisle 002 - 0030          963           30          3.12                 4
2  Lisle 003 - 0031         1164           55          4.73                 4
3  Lisle 004 - 0032         1160           57          4.91                 4
4  Lisle 005 - 0033         1194           77          6.45                 4

In [20]:
df.head(20)

,Timestamp,ElectionName,ElectionDate,Region,totalVoters,ballotsCast,voterTurnout,Precincts,key,text,voteFor,isQuestion,precinctsReporting,precinctsReported,VoteType,Choice
0,3/12/2025 8:55:00 AM CDT,None,None,None,NaN,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,None,None
1,None,2025 Primary Consolidated,None,None,NaN,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,None,None
2,None,None,2/25/2025,None,NaN,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,None,None
3,None,None,None,DuPage,NaN,NaN,NaN,None,NaN,None,NaN,NaN,NaN,NaN,None,None
4,None,None,None,None,112760.0,7749.0,6.87,\n,NaN,None,NaN,NaN,NaN,NaN,None,None
5,None,None,None,None,NaN,NaN,NaN,None,6014.0,FOR MAYOR,1.0,False,28.0,28.0,\n,\n
6,None,None,None,None,NaN,NaN,NaN,None,7440.0,FOR TOWNSHIP SUPERVISOR,1.0,False,77.0,77.0,\n,\n
7,None,None,None,None,NaN,NaN,NaN,None,7460.0,FOR TOWNSHIP CLERK,1.0,False,77.0,77.0,\n,\n
8,None,None,None,None,NaN,NaN,NaN,None,7470.0,FOR TOWNSHIP ASSESSOR,0.0,False,77.0,77.0,\n,\n
9,None,None,None,None,NaN,NaN,NaN,None,7480.0,FOR TOWNSHIP HIGHWAY COMMISSIONER,0.0,False,77.0,77.0,\n,\n
10,None,None,None,None,NaN,NaN,NaN,None,7490.0,FOR TOWNSHIP TRUSTEE,4.0,False,77.0,77.0,\n,\n

In [ ]:
df = pd.json_normalize(xml_dict['ElectionResult'])
df.head()

,Timestamp,ElectionName,ElectionDate,Region,Contest,VoterTurnout.@totalVoters,VoterTurnout.@ballotsCast,VoterTurnout.@voterTurnout,VoterTurnout.Precincts.Precinct
0,3/12/2025 8:55:00 AM CDT,2025 Primary Consolidated,2/25/2025,DuPage,"[{'@key': '6014', '@text': 'FOR MAYOR', '@vote...",112760,7749,6.87,"[{'@name': 'Lisle 001 - 0029', '@totalVoters':..."

In [47]:
df = pd.json_normalize(xml_dict['ElectionResult']['Contest'])
df.head()

,@key,@text,@voteFor,@isQuestion,@precinctsReporting,@precinctsReported,VoteType,Choice,Choice.@key,Choice.@text,Choice.@party,Choice.@totalVotes,Choice.VoteType
0,6014,FOR MAYOR,1,false,28,28,"[{'@name': 'Undervotes', '@votes': '2', 'Preci...","[{'@key': '26664', '@text': 'JOHN LAESCH', '@t...",NaN,NaN,NaN,NaN,NaN
1,7440,FOR TOWNSHIP SUPERVISOR,1,false,77,77,"[{'@name': 'Undervotes', '@votes': '265', 'Pre...","[{'@key': '26669', '@text': 'M. JOANN WRIGHT',...",NaN,NaN,NaN,NaN,NaN
2,7460,FOR TOWNSHIP CLERK,1,false,77,77,"[{'@name': 'Undervotes', '@votes': '400', 'Pre...",NaN,26670,ROBERT SACKS,DEM,3891,"[{'@name': 'Early', '@votes': '340', 'Precinct..."
3,7470,FOR TOWNSHIP ASSESSOR,0,false,77,77,"[{'@name': 'Undervotes', '@votes': '0', 'Preci...",NaN,1,NO CANDIDATE/CANDIDATO,DEM,0,"[{'@name': 'Early', '@votes': '0', 'Precinct':..."
4,7480,FOR TOWNSHIP HIGHWAY COMMISSIONER,0,false,77,77,"[{'@name': 'Undervotes', '@votes': '0', 'Preci...",NaN,1,NO CANDIDATE/CANDIDATO,DEM,0,"[{'@name': 'Early', '@votes': '0', 'Precinct':..."

In [49]:
df = pd.json_normalize(xml_dict['ElectionResult']['Contest'])
df.head()

,@key,@text,@voteFor,@isQuestion,@precinctsReporting,@precinctsReported,VoteType,Choice,Choice.@key,Choice.@text,Choice.@party,Choice.@totalVotes,Choice.VoteType
0,6014,FOR MAYOR,1,false,28,28,"[{'@name': 'Undervotes', '@votes': '2', 'Preci...","[{'@key': '26664', '@text': 'JOHN LAESCH', '@t...",NaN,NaN,NaN,NaN,NaN
1,7440,FOR TOWNSHIP SUPERVISOR,1,false,77,77,"[{'@name': 'Undervotes', '@votes': '265', 'Pre...","[{'@key': '26669', '@text': 'M. JOANN WRIGHT',...",NaN,NaN,NaN,NaN,NaN
2,7460,FOR TOWNSHIP CLERK,1,false,77,77,"[{'@name': 'Undervotes', '@votes': '400', 'Pre...",NaN,26670,ROBERT SACKS,DEM,3891,"[{'@name': 'Early', '@votes': '340', 'Precinct..."
3,7470,FOR TOWNSHIP ASSESSOR,0,false,77,77,"[{'@name': 'Undervotes', '@votes': '0', 'Preci...",NaN,1,NO CANDIDATE/CANDIDATO,DEM,0,"[{'@name': 'Early', '@votes': '0', 'Precinct':..."
4,7480,FOR TOWNSHIP HIGHWAY COMMISSIONER,0,false,77,77,"[{'@name': 'Undervotes', '@votes': '0', 'Preci...",NaN,1,NO CANDIDATE/CANDIDATO,DEM,0,"[{'@name': 'Early', '@votes': '0', 'Precinct':..."

In [ ]:
])

In [21]:
df.nunique()

Timestamp             1
ElectionName          1
ElectionDate          1
Region                1
totalVoters           1
ballotsCast           1
voterTurnout          1
Precincts             1
key                   6
text                  6
voteFor               3
isQuestion            1
precinctsReporting    2
precinctsReported     2
VoteType              1
Choice                1
dtype: int64

In [22]:
df.shape

(11, 16)