In [32]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

f_path = "/home/mike-rob/Development/Analytic_Dev/data/Vendor_Payments.csv"

df = pd.read_csv(f_path)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130456 entries, 0 to 130455
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Fiscal_Year             130456 non-null  int64
 1   Fiscal_Period           130456 non-null  int64
 2   Invoice_Status          130456 non-null  object
 3   Vendor_ID               130456 non-null  int64
 4   Vendor_Name             130456 non-null  object
 5   Check_Number            130456 non-null  int64
 6   Payment_Amount          130456 non-null  float64
 7   Check_Date              130456 non-null  object
 8   Invoice_Number          130456 non-null  int64
 9   invoice_date            130456 non-null  object
 10  Line_Item_Desc          130456 non-null  object
 11  Purch_Order_No          130456 non-null  object
 12  Org_Code                130456 non-null  int64
 13  Org_Description         130456 non-null  object
 14  Object_Code             130456 non-null  int64
 15  Object_Description      130456 non-null  object
 16  Payment_Type            130456 non-null  object
 17  Payment_Status          130456 non-null  object
 18  Fund_Code               130456 non-null  int64
 19  Fund                    130456 non-null  object
 20  Function_Code           130456 non-null  int64
 21  Function_               130456 non-null  object
 22  Department_Code         130456 non-null  int64
 23  Department              0 non-null       float64
 24  Division_Code           130456 non-null  int64
 25  Division                130456 non-null  object
 26  Payment_ID              130456 non-null  object
 27  Department_No           130456 non-null  object
 28  Department_Description  0 non-null       float64
 29  OBJECTID                130456 non-null  int64
dtypes: float64(3), int64(12), object(15)
memory usage: 29.9+ MB

In [34]:
df.head()

,Fiscal_Year,Fiscal_Period,Invoice_Status,Vendor_ID,Vendor_Name,Check_Number,Payment_Amount,Check_Date,Invoice_Number,invoice_date,...,Function_Code,Function_,Department_Code,Department,Division_Code,Division,Payment_ID,Department_No,Department_Description,OBJECTID
0,2023,12,Paid,17591,AMAZON.COM LLC,38575,-45.99,2023/12/31 00:00:00+00,210481,1900/01/01 00:00:00+00,...,210,WATER UTILITIES,41,NaN,115,OPERATIONS,,,NaN,1
1,2023,12,Paid,1751,ODP BUSINESS SOLUTIONS LLC,38601,-5.25,2023/12/31 00:00:00+00,210507,1900/01/01 00:00:00+00,...,210,WATER UTILITIES,41,NaN,115,OPERATIONS,,,NaN,2
2,2023,12,Paid,1105,CARDCONNECT,9012330,34.95,2023/12/05 00:00:00+00,210974,1900/01/01 00:00:00+00,...,220,COMMUTER PARKING,15,NaN,100,ADMINISTRATION,,,NaN,3
3,2023,12,Paid,1105,CARDCONNECT,9012331,40.90,2023/12/05 00:00:00+00,210977,1900/01/01 00:00:00+00,...,100,GENERAL GOVERNMENT,15,NaN,100,ADMINISTRATION,,,NaN,4
4,2024,1,Paid,2181,BEARY LANDSCAPE MANAGEMENT INC,708502,1200.00,2024/01/09 00:00:00+00,210207,1900/01/01 00:00:00+00,...,100,GENERAL GOVERNMENT,31,NaN,115,OPERATIONS,,,NaN,5

In [35]:
df = df.drop(columns=['Department','Department_Description'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130456 entries, 0 to 130455
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Fiscal_Year         130456 non-null  int64
 1   Fiscal_Period       130456 non-null  int64
 2   Invoice_Status      130456 non-null  object
 3   Vendor_ID           130456 non-null  int64
 4   Vendor_Name         130456 non-null  object
 5   Check_Number        130456 non-null  int64
 6   Payment_Amount      130456 non-null  float64
 7   Check_Date          130456 non-null  object
 8   Invoice_Number      130456 non-null  int64
 9   invoice_date        130456 non-null  object
 10  Line_Item_Desc      130456 non-null  object
 11  Purch_Order_No      130456 non-null  object
 12  Org_Code            130456 non-null  int64
 13  Org_Description     130456 non-null  object
 14  Object_Code         130456 non-null  int64
 15  Object_Description  130456 non-null  object
 16  Payment_Type        130456 non-null  object
 17  Payment_Status      130456 non-null  object
 18  Fund_Code           130456 non-null  int64
 19  Fund                130456 non-null  object
 20  Function_Code       130456 non-null  int64
 21  Function_           130456 non-null  object
 22  Department_Code     130456 non-null  int64
 23  Division_Code       130456 non-null  int64
 24  Division            130456 non-null  object
 25  Payment_ID          130456 non-null  object
 26  Department_No       130456 non-null  object
 27  OBJECTID            130456 non-null  int64
dtypes: float64(1), int64(12), object(15)
memory usage: 27.9+ MB

In [37]:
count=0
for col in df.columns:
    if 'ID' in col:
        df = df.drop(columns=col)
        count+=1

print(f"{count=}")

count=3

In [38]:
count=0
for col in df.columns:
    if 'Code' in col:
        df = df.drop(columns=col)
        count+=1

print(f"{count=}")

count=6

In [91]:
df['Function_'] = df['Function']

In [96]:
count=0
rename_cols = {}
for col in df.columns:
    if col.endswith('_'):
        rename_cols[col] = col.rstrip('_')
        count+=1
        print(f"{rename_cols}")

df.rename(rename_cols, inplace=True)
print(f"{count=}")

AttributeError: 'NoneType' object has no attribute 'columns'

In [87]:
df['Function'] = df['Function_']
df = df.drop(columns='Function_')

In [88]:
df['Function'].sample(12)

17817       GENERAL GOVERNMENT
23526         ELECTRIC UTILITY
110149        LIBRARY SERVICES
108514               UNDEFINED
122216      GENERAL GOVERNMENT
109039               UNDEFINED
4953        GENERAL GOVERNMENT
10754     PHYSICAL ENVIRONMENT
124318           PUBLIC SAFETY
38274         ELECTRIC UTILITY
60441            PUBLIC SAFETY
19587     PHYSICAL ENVIRONMENT
Name: Function, dtype: object

In [95]:
df.info()

AttributeError: 'NoneType' object has no attribute 'info'