In [1]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

f_path = "/home/mike-rob/Development/Analytic_Dev/data/Vendor_Payments.csv"

df = pd.read_csv(f_path)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130456 entries, 0 to 130455
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Fiscal_Year             130456 non-null  int64
 1   Fiscal_Period           130456 non-null  int64
 2   Invoice_Status          130456 non-null  object
 3   Vendor_ID               130456 non-null  int64
 4   Vendor_Name             130456 non-null  object
 5   Check_Number            130456 non-null  int64
 6   Payment_Amount          130456 non-null  float64
 7   Check_Date              130456 non-null  object
 8   Invoice_Number          130456 non-null  int64
 9   invoice_date            130456 non-null  object
 10  Line_Item_Desc          130456 non-null  object
 11  Purch_Order_No          130456 non-null  object
 12  Org_Code                130456 non-null  int64
 13  Org_Description         130456 non-null  object
 14  Object_Code             130456 non-null  int64
 15  Object_Description      130456 non-null  object
 16  Payment_Type            130456 non-null  object
 17  Payment_Status          130456 non-null  object
 18  Fund_Code               130456 non-null  int64
 19  Fund                    130456 non-null  object
 20  Function_Code           130456 non-null  int64
 21  Function_               130456 non-null  object
 22  Department_Code         130456 non-null  int64
 23  Department              0 non-null       float64
 24  Division_Code           130456 non-null  int64
 25  Division                130456 non-null  object
 26  Payment_ID              130456 non-null  object
 27  Department_No           130456 non-null  object
 28  Department_Description  0 non-null       float64
 29  OBJECTID                130456 non-null  int64
dtypes: float64(3), int64(12), object(15)
memory usage: 29.9+ MB

In [4]:
df = df.drop(columns=['Department','Department_Description'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130456 entries, 0 to 130455
Data columns (total 28 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Fiscal_Year         130456 non-null  int64
 1   Fiscal_Period       130456 non-null  int64
 2   Invoice_Status      130456 non-null  object
 3   Vendor_ID           130456 non-null  int64
 4   Vendor_Name         130456 non-null  object
 5   Check_Number        130456 non-null  int64
 6   Payment_Amount      130456 non-null  float64
 7   Check_Date          130456 non-null  object
 8   Invoice_Number      130456 non-null  int64
 9   invoice_date        130456 non-null  object
 10  Line_Item_Desc      130456 non-null  object
 11  Purch_Order_No      130456 non-null  object
 12  Org_Code            130456 non-null  int64
 13  Org_Description     130456 non-null  object
 14  Object_Code         130456 non-null  int64
 15  Object_Description  130456 non-null  object
 16  Payment_Type        130456 non-null  object
 17  Payment_Status      130456 non-null  object
 18  Fund_Code           130456 non-null  int64
 19  Fund                130456 non-null  object
 20  Function_Code       130456 non-null  int64
 21  Function_           130456 non-null  object
 22  Department_Code     130456 non-null  int64
 23  Division_Code       130456 non-null  int64
 24  Division            130456 non-null  object
 25  Payment_ID          130456 non-null  object
 26  Department_No       130456 non-null  object
 27  OBJECTID            130456 non-null  int64
dtypes: float64(1), int64(12), object(15)
memory usage: 27.9+ MB

In [6]:
count=0
for col in df.columns:
    if 'ID' in col:
        df = df.drop(columns=col)
        count+=1

print(f"{count=}")

count=3

In [7]:
count=0
for col in df.columns:
    if 'Code' in col:
        df = df.drop(columns=col)
        count+=1

print(f"{count=}")

count=6

In [11]:
count=0
rename_cols = {}
for col in df.columns:
    if col.endswith('_'):
        rename_cols[col] = col.rstrip('_')
        count+=1
        print(f"{rename_cols}")

df.rename(rename_cols, inplace=True)
print(f"{count=}")

count=0

In [12]:
df['Function'] = df['Function_']
df = df.drop(columns='Function_')

KeyError: 'Function_'

In [25]:
df['Function'].sample(12)

31754            PUBLIC SAFETY
24696          WATER UTILITIES
100171           PUBLIC SAFETY
129415       INTERNAL SERVICES
78518         ELECTRIC UTILITY
30904       GENERAL GOVERNMENT
1587          ELECTRIC UTILITY
98379       GENERAL GOVERNMENT
61193                UNDEFINED
28872       GENERAL GOVERNMENT
85713     PHYSICAL ENVIRONMENT
4793           WATER UTILITIES
Name: Function, dtype: object

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 130456 entries, 0 to 130455
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Fiscal_Year         130456 non-null  int64
 1   Fiscal_Period       130456 non-null  int64
 2   Invoice_Status      130456 non-null  object
 3   Vendor_Name         130456 non-null  object
 4   Check_Number        130456 non-null  int64
 5   Payment_Amount      130456 non-null  float64
 6   Check_Date          130456 non-null  object
 7   Invoice_Number      130456 non-null  int64
 8   invoice_date        130456 non-null  object
 9   Line_Item_Desc      130456 non-null  object
 10  Purch_Order_No      130456 non-null  object
 11  Org_Description     130456 non-null  object
 12  Object_Description  130456 non-null  object
 13  Payment_Type        130456 non-null  object
 14  Payment_Status      130456 non-null  object
 15  Fund                130456 non-null  object
 16  Division            130456 non-null  object
 17  Department_No       130456 non-null  object
 18  Function            130456 non-null  object
dtypes: float64(1), int64(4), object(14)
memory usage: 19.9+ MB

In [32]:
df.nunique()

Fiscal_Year                4
Fiscal_Period             12
Invoice_Status             3
Vendor_Name             2179
Check_Number           58025
Payment_Amount         57700
Check_Date              1030
Invoice_Number        119862
Line_Item_Desc         43746
Org_Description          196
Object_Description       183
Fund                      30
Division                  32
Function                  12
dtype: int64

In [31]:
for col in df.columns:
    if df[col].nunique() < 2:
        df = df.drop(columns=col)